/* --- reset --- */

/* try to circumvent any lingering styles (webkit transform bug, methinks) */
*, body *, body {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: inherit;
	border: none;
}

html,body {
	background: #111;
	font: 14px/20px Sans-Serif;
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	position: absolute;
}

a {
	color: #fff;
	text-decoration: none;
}

/* --- header --- */

#header {
	background: #111;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 45px;
	text-shadow: 0 -1px #000;
	z-index: 400;
	box-shadow: inset 0 -1px 1px #000, 0 0 25px rgba(0,0,0,.25);
}

#header h1 {
	color: #ccc;
	font: 16px/40px Sans-Serif;
	margin: 0 0 0 10px;
}

#header h1 a {
	font-weight: bold;
}

#header kbd { color: #666; }

#header nav {
	position: absolute;
	top: 0;
	right: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#header nav kbd {
	background: #222;
	color: #666;
	border-radius: 2px;
	margin: 5px 5px 0 0;
	height: 30px;
	width: 30px;
	font: 16px/30px a;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	box-shadow: inset 1px 1px #333, inset -1px -1px #000;
	text-shadow: 0 1px #ccc, 0 -1px #000;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

#header nav kbd:hover { background: #2a2a2a; }
#header nav kbd:active { box-shadow: inset -1px -1px #222, -1px -1px #000; }

kbd:before { content: ""; }
kbd.start:before { content: "▶"; }
kbd.stop:before { content: "║"; }
kbd.restart:before { content: "↩"; }

/* --- header progress --- */

#progress {
	background: #444;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 40px;
	overflow: hidden;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.5);
}

#progress b {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #666;
	width: 0;
	box-shadow: 0 0 20px #000;
	border-radius: 0 5px 5px 0;
	-webkit-transition: width .2s ease;
	-moz-transition: width .2s ease;
	transition: width .2s ease;
}

/* --- ul --- */

ul {
	background: #111;
	position: fixed;
	left: 0;
	top: 45px;
	bottom: 0;
	width: 250px;
	text-shadow: 0 -1px #000;
	list-style-type: none;
	z-index: 300;
	overflow: hidden;
	overflow-x: visible;
	overflow-y: auto;
}

ul::-webkit-scrollbar {
	background: #111;
	width: 10px;
	box-shadow: inset 0 0 5px #000, 0 0 1px rgba(255,255,255,.25);
}
ul::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 5px;
	box-shadow: 0 0 5px #000, inset 0 0 10px #333;
}

ul a {
	display: block;
	padding: 5px 30px 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
	white-space: nowrap;
	/* direction: rtl; text-align: left; */
}

ul a:hover { background: #1A1A1A; }
ul a:active { background: #000; }

.crawled a {
	color: #666;
	position: relative;
}

li a:after {
	position: absolute;
	right: 10px;
}

.crawled a:after { content: "\2714"; }
.invalid a { color: #633434; }
.invalid a:after { content:  "\2718"; }
.duplicate a:after { content: "\267b"; }

li {
	border-top: 1px solid #222;
	border-bottom: 1px solid #000;
	cursor: pointer;
}

li { position: relative; }

/* --- iframe --- */

#iframewrapper {
	position: fixed;
	top: 45px;
	right: 0;
	bottom: 50%;
	left: 250px;
	display: block;
	z-index: 0;
}

#iframe {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/* --- output --- */

#output {
	position: fixed;
	background: #eee;
	color: #333;
	padding: 20px;
	overflow: auto;
	right: 0;
	left: 250px;
	top: 50%;
	bottom: 0;
	margin: 0;
	z-index: 100;
	box-shadow: inset 0 1px 1px #fff, 0 0 25px rgba(0,0,0,.25);
}

#output table {
	width: 100%;
}

#output td {
	vertical-align: top;
	padding: 0 20px 0 0;
}

#output tr td:last-child { padding-right: 0; }

/* --- fullscreen output --- */

#chkOutputFullscreen {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 301;
	width: 20px;
	height: 20px;
	display: block;
	text-indent: -40px;
	visibility: hidden;
	cursor: pointer;
}

#chkOutputFullscreen:before {
	content: "\2921";
	font: bold 20px/20px a;
	opacity: 1;
	text-indent: 0;
	display: block;
	visibility: visible;
	color: #666;
}

#chkOutputFullscreen:hover { color: #000; }

#chkOutputFullscreen:checked ~ #output {
	margin-top: 45px;
	/* since dragged styles are inlined... */
	top: 0 !important;
	left: 0 !important;
	z-index: 300;
}

#chkOutputFullscreen:hover ~ #output { z-index: 300; }

/* --- responsivesauce --- */

#output { -webkit-transition: all .5s ease; }
.notransitions #output { -webkit-transition: none; }

/* @media all and (min-width: 1000px) {
	ul { right: auto; width: 250px; }
	#iframewrapper { left: 250px; width: auto; bottom: 50%; }
	#output { left: 250px; }
} */

/* --- jquery ui --- */

.draggable {
	/*background: red; opacity: .25;*/
	position: absolute !important;
}

.nodrag .draggable { display: none; }

#dragUl {
	z-index: 301; /* just above ul */
	top: 0;
	bottom: 0;
	width: 20px;
	height: 100%;
	left: 245px;
	cursor: e-resize;
}

#dragOutput {
	top: 50%;
	left: 0;
	width: 100%;
	height: 20px;
	cursor: s-resize;
	z-index: 102; /* just above cover */
}

#dragCover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101; /* just above frame */
	display: none;
/*	background: rgba(255,0,0,.1);*/
}

.draggable:hover ~ #dragCover, .draggable:active ~ #dragCover { display: block; }
.draggable:hover ~ div, .draggable:active ~ div {
	-webkit-transition: none !important;
}